
*{
  margin: auto;
  padding: auto;
}

.register-form {
  background: aliceblue;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 20px;
  justify-content: revert-layer;
}
.row {
  padding: 6px;
}